//Theme colors
$yellow: #E8DC4C;
$orange: #BF5600;
$green: #8FBC91;
$grey: #353530;
$ltgreen: #D7E0D7;

//Base colors
$primary:$yellow;
$secondary: $green;
$dark: $grey;
$light: $ltgreen;


//Fonts
$fa: FontAwesome;
$font_main: 'Lato', sans-serif;
$font_title: 'Lato', sans-serif;



